USE [master]
GO
/****** Object:  Database [QLTG]    Script Date: 12/29/2022 9:41:28 AM ******/
CREATE DATABASE [QLTG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLTG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLTG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLTG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLTG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTG]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 12/29/2022 9:41:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[ADMINID] [char](10) NOT NULL,
	[PASSWORD] [char](20) NOT NULL,
	[ADMINNAME] [nchar](30) NOT NULL,
	[EMAIL] [char](50) NULL,
	[PHONENUMBER] [char](15) NULL,
	[AVATAR] [varchar](50) NULL,
	[USERNAME] [char](20) NULL,
 CONSTRAINT [PK_ADMIN] PRIMARY KEY CLUSTERED 
(
	[ADMINID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUTHOR]    Script Date: 12/29/2022 9:41:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTHOR](
	[AUTHORID] [char](10) NOT NULL,
	[ADMINID] [char](10) NOT NULL,
	[EDITORID] [char](10) NOT NULL,
	[PASSWORD] [char](15) NOT NULL,
	[AUTHORNAME] [nchar](50) NOT NULL,
	[EMAIL] [char](30) NOT NULL,
	[ADDRESS] [nchar](30) NOT NULL,
	[PHONENUMBER] [char](15) NOT NULL,
	[USERNAME] [char](20) NOT NULL,
	[SALARY] [float] NULL,
	[AVATAR] [char](50) NULL,
 CONSTRAINT [PK_AUTHOR] PRIMARY KEY CLUSTERED 
(
	[AUTHORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHAPTER]    Script Date: 12/29/2022 9:41:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAPTER](
	[CHAPTERID] [char](10) NOT NULL,
	[EDITORID] [char](10) NOT NULL,
	[OUTLINEID] [char](10) NOT NULL,
	[STORYID] [char](10) NOT NULL,
	[AUTHORID] [char](10) NOT NULL,
	[CHAPTERNAME] [nchar](30) NOT NULL,
	[GIA] [float] NULL,
	[CONTENT] [text] NULL,
	[UNPAIR] [float] NULL,
 CONSTRAINT [PK_CHAPTER] PRIMARY KEY CLUSTERED 
(
	[CHAPTERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMMENT]    Script Date: 12/29/2022 9:41:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMENT](
	[COMMENTID] [char](10) NOT NULL,
	[CHAPTERID] [char](10) NOT NULL,
	[EDITORID] [char](10) NULL,
	[CONTENT] [text] NULL,
 CONSTRAINT [PK_COMMENT] PRIMARY KEY CLUSTERED 
(
	[COMMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DRAFT]    Script Date: 12/29/2022 9:41:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DRAFT](
	[DRAFTID] [char](10) NOT NULL,
	[AUTHORID] [char](10) NOT NULL,
	[STORYID] [char](10) NOT NULL,
	[EDITORID] [char](10) NOT NULL,
	[CONTENT] [text] NOT NULL,
	[GIA] [float] NULL,
	[UNPAIR] [float] NULL,
 CONSTRAINT [PK_DRAFT] PRIMARY KEY CLUSTERED 
(
	[DRAFTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EDITOR]    Script Date: 12/29/2022 9:41:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDITOR](
	[EDITORID] [char](10) NOT NULL,
	[ADMINID] [char](10) NOT NULL,
	[EDITORNAME] [nchar](30) NOT NULL,
	[EMAIL] [char](30) NOT NULL,
	[PHONENUMBER] [char](15) NULL,
	[USERNAME] [char](20) NOT NULL,
	[SALARY] [float] NULL,
	[PASSWORD] [char](20) NULL,
	[AVATAR] [char](50) NULL,
 CONSTRAINT [PK_EDITOR] PRIMARY KEY CLUSTERED 
(
	[EDITORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OUTLINE]    Script Date: 12/29/2022 9:41:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OUTLINE](
	[OUTLINEID] [char](10) NOT NULL,
	[AUTHORID] [char](10) NOT NULL,
	[EDITORID] [char](10) NOT NULL,
	[STORYID] [char](10) NOT NULL,
	[CONTENT] [text] NULL,
	[GIA] [float] NULL,
	[UNPAIR] [float] NULL,
 CONSTRAINT [PK_OUTLINE] PRIMARY KEY CLUSTERED 
(
	[OUTLINEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STORY]    Script Date: 12/29/2022 9:41:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORY](
	[STORYID] [char](10) NOT NULL,
	[AUTHORID] [char](10) NOT NULL,
	[EDITORID] [char](10) NOT NULL,
	[STORYNAME] [nchar](30) NOT NULL,
	[STATE] [nchar](20) NOT NULL,
	[NUMOFCHAPS] [int] NOT NULL,
	[TYPE] [char](10) NOT NULL,
 CONSTRAINT [PK_STORY] PRIMARY KEY CLUSTERED 
(
	[STORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ADMIN] ([ADMINID], [PASSWORD], [ADMINNAME], [EMAIL], [PHONENUMBER], [AVATAR], [USERNAME]) VALUES (N'AD174920  ', N'8CI6COE5            ', N'Olivia Stokes                 ', N'xttoqfu10@ehw.net                                 ', N'271026-4065    ', N'link', N'Jennifer386         ')
INSERT [dbo].[ADMIN] ([ADMINID], [PASSWORD], [ADMINNAME], [EMAIL], [PHONENUMBER], [AVATAR], [USERNAME]) VALUES (N'AD307730  ', N'36FYERY4            ', N'Wendi Ross                    ', N'fbrwrwli9@tlt.net                                 ', N'893056-4267    ', N'link', N'Felipe387           ')
INSERT [dbo].[ADMIN] ([ADMINID], [PASSWORD], [ADMINNAME], [EMAIL], [PHONENUMBER], [AVATAR], [USERNAME]) VALUES (N'AD328644  ', N'3BJBZVS7            ', N'Felix Lawson                  ', N'euxyow@jnl.com                                    ', N'024-630-1311   ', N'link', N'Kerry725            ')
GO
INSERT [dbo].[AUTHOR] ([AUTHORID], [ADMINID], [EDITORID], [PASSWORD], [AUTHORNAME], [EMAIL], [ADDRESS], [PHONENUMBER], [USERNAME], [SALARY], [AVATAR]) VALUES (N'AU0147388 ', N'AD936223  ', N'ED408053  ', N'ZW9NRUEKQ      ', N'Albert Holder                                     ', N'kznto@noj.com                 ', N'After Sales Group             ', N'225-872-7635   ', N'Aimee893            ', 1878.1359951841348, N'link                                              ')
INSERT [dbo].[AUTHOR] ([AUTHORID], [ADMINID], [EDITORID], [PASSWORD], [AUTHORNAME], [EMAIL], [ADDRESS], [PHONENUMBER], [USERNAME], [SALARY], [AVATAR]) VALUES (N'AU0886539 ', N'AD342720  ', N'ED949502  ', N'F3F5N88ZW      ', N'Jeanette Osborn                                   ', N'xicv@gok.net                  ', N'6th Floor                     ', N'147-186-9316   ', N'Alfonso303          ', 579.63281733898111, N'link                                              ')
INSERT [dbo].[AUTHOR] ([AUTHORID], [ADMINID], [EDITORID], [PASSWORD], [AUTHORNAME], [EMAIL], [ADDRESS], [PHONENUMBER], [USERNAME], [SALARY], [AVATAR]) VALUES (N'AU1173555 ', N'AD307730  ', N'ED478628  ', N'XGTTAZJ0Y      ', N'Robin Shelton                                     ', N'lcvnfwuu@ywe.com              ', N'Customer Group                ', N'657-375-6415   ', N'Jim161              ', 1181.9778923792662, N'link                                              ')
GO
INSERT [dbo].[CHAPTER] ([CHAPTERID], [EDITORID], [OUTLINEID], [STORYID], [AUTHORID], [CHAPTERNAME], [GIA], [CONTENT], [UNPAIR]) VALUES (N'CH00mcu55 ', N'ED359509  ', N'56327     ', N'ST690542  ', N'AU2435624 ', N'Doptinantor 2                 ', 1718.4010597730062, N'non quartu fecit. transit. si eggredior. essit. si', 166.34098361700504)
INSERT [dbo].[CHAPTER] ([CHAPTERID], [EDITORID], [OUTLINEID], [STORYID], [AUTHORID], [CHAPTERNAME], [GIA], [CONTENT], [UNPAIR]) VALUES (N'CH02fok26 ', N'ED408053  ', N'42586     ', N'ST887428  ', N'AU4134982 ', N'Cipzapicator 2                ', 1004.2425041805219, N'eudis quo eudis et linguens quad vobis egreddior', 511.45305722491)
INSERT [dbo].[CHAPTER] ([CHAPTERID], [EDITORID], [OUTLINEID], [STORYID], [AUTHORID], [CHAPTERNAME], [GIA], [CONTENT], [UNPAIR]) VALUES (N'CH08agk27 ', N'ED524729  ', N'17368     ', N'ST001775  ', N'AU4351179 ', N'Lompickackin 1                ', 1782.2029777021162, N'gravum fecundio, quoque et pladior Id cognitio,', 1209.7608429770714)
GO
INSERT [dbo].[COMMENT] ([COMMENTID], [CHAPTERID], [EDITORID], [CONTENT]) VALUES (N'CM009767  ', N'CH92bex81 ', N'ED250938  ', N'non quo, imaginator')
INSERT [dbo].[COMMENT] ([COMMENTID], [CHAPTERID], [EDITORID], [CONTENT]) VALUES (N'CM021068  ', N'CH67khb94 ', N'ED249136  ', N'et bono Quad plorum')
INSERT [dbo].[COMMENT] ([COMMENTID], [CHAPTERID], [EDITORID], [CONTENT]) VALUES (N'CM023848  ', N'CH02fok26 ', N'ED249136  ', N'volcans Pro pladior')
GO
INSERT [dbo].[DRAFT] ([DRAFTID], [AUTHORID], [STORYID], [EDITORID], [CONTENT], [GIA], [UNPAIR]) VALUES (N'DR07171606', N'AU4351179 ', N'ST787374  ', N'ED408053  ', N'transit. dolorum non et quartu essit. e rarendum', 1259.0429089817078, 838.99559626917267)
INSERT [dbo].[DRAFT] ([DRAFTID], [AUTHORID], [STORYID], [EDITORID], [CONTENT], [GIA], [UNPAIR]) VALUES (N'DR07810424', N'AU3639829 ', N'ST463060  ', N'ED249136  ', N'et quo quad quad venit. parte quoque cognitio,', 70.732731867368884, 65.022235)
INSERT [dbo].[DRAFT] ([DRAFTID], [AUTHORID], [STORYID], [EDITORID], [CONTENT], [GIA], [UNPAIR]) VALUES (N'DR08572005', N'AU6873987 ', N'ST684696  ', N'ED295770  ', N'e quorum esset et quantare quo, brevens, non nomen', 1882.7135125285511, 800.549812839237)
GO
INSERT [dbo].[EDITOR] ([EDITORID], [ADMINID], [EDITORNAME], [EMAIL], [PHONENUMBER], [USERNAME], [SALARY], [PASSWORD], [AVATAR]) VALUES (N'ED027100  ', N'AD307730  ', N'Darrick Landry                ', N'lbuba262@lmn.net              ', N'(193) 830-2854 ', N'Gary600             ', 199.03207004490872, N'OCPU3OV4            ', N'link                                              ')
INSERT [dbo].[EDITOR] ([EDITORID], [ADMINID], [EDITORNAME], [EMAIL], [PHONENUMBER], [USERNAME], [SALARY], [PASSWORD], [AVATAR]) VALUES (N'ED249136  ', N'AD871991  ', N'Pamela Gentry                 ', N'txkxyn@kim.com                ', N'089-149-4881   ', N'Danny256            ', 268.20024450691426, N'B5YNFW0W            ', N'link                                              ')
INSERT [dbo].[EDITOR] ([EDITORID], [ADMINID], [EDITORNAME], [EMAIL], [PHONENUMBER], [USERNAME], [SALARY], [PASSWORD], [AVATAR]) VALUES (N'ED250938  ', N'AD522737  ', N'Rickey Martin                 ', N'ezkfy0@jzv.net                ', N'(340) 219-0648 ', N'Darin506            ', 1067.7736238426405, N'ZIVYZFC3            ', N'link                                              ')
GO
INSERT [dbo].[OUTLINE] ([OUTLINEID], [AUTHORID], [EDITORID], [STORYID], [CONTENT], [GIA], [UNPAIR]) VALUES (N'03048     ', N'AU3639829 ', N'ED249136  ', N'ST463060  ', N'Et et et quad fecit, plurissimum nomen novum esset', 326.65892107256633, 134.97999767964259)
INSERT [dbo].[OUTLINE] ([OUTLINEID], [AUTHORID], [EDITORID], [STORYID], [CONTENT], [GIA], [UNPAIR]) VALUES (N'06250     ', N'AU8691099 ', N'ED931645  ', N'ST673693  ', N'quad plorum linguens cognitio, fecit. quo, bono', 1549.9789237743144, 374.9623766732085)
INSERT [dbo].[OUTLINE] ([OUTLINEID], [AUTHORID], [EDITORID], [STORYID], [CONTENT], [GIA], [UNPAIR]) VALUES (N'06621     ', N'AU3350395 ', N'ED359509  ', N'ST787374  ', N'non e Pro quantare quo, nomen parte funem. pars', 534.4342645185227, 534.3522334007796)
GO
INSERT [dbo].[STORY] ([STORYID], [AUTHORID], [EDITORID], [STORYNAME], [STATE], [NUMOFCHAPS], [TYPE]) VALUES (N'ST001775  ', N'AU7947660 ', N'ED359509  ', N'Rezapicistor                  ', N'Georgia             ', 1, N'roman     ')
INSERT [dbo].[STORY] ([STORYID], [AUTHORID], [EDITORID], [STORYNAME], [STATE], [NUMOFCHAPS], [TYPE]) VALUES (N'ST001978  ', N'AU8691099 ', N'ED931645  ', N'Parrobicower                  ', N'Wyoming             ', 21, N'thriller  ')
INSERT [dbo].[STORY] ([STORYID], [AUTHORID], [EDITORID], [STORYNAME], [STATE], [NUMOFCHAPS], [TYPE]) VALUES (N'ST015092  ', N'AU2024405 ', N'ED478628  ', N'Uprobistor                    ', N'Nevada              ', 18, N'detective ')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [MANAGE_FK]    Script Date: 12/29/2022 9:41:28 AM ******/
CREATE NONCLUSTERED INDEX [MANAGE_FK] ON [dbo].[AUTHOR]
(
	[ADMINID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [SUPERVISE_FK]    Script Date: 12/29/2022 9:41:28 AM ******/
CREATE NONCLUSTERED INDEX [SUPERVISE_FK] ON [dbo].[AUTHOR]
(
	[EDITORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ADD_UPDATE_FK]    Script Date: 12/29/2022 9:41:28 AM ******/
CREATE NONCLUSTERED INDEX [ADD_UPDATE_FK] ON [dbo].[CHAPTER]
(
	[AUTHORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [APPROVE_DECLINE_FK]    Script Date: 12/29/2022 9:41:28 AM ******/
CREATE NONCLUSTERED INDEX [APPROVE_DECLINE_FK] ON [dbo].[CHAPTER]
(
	[EDITORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [HAVE_FK]    Script Date: 12/29/2022 9:41:28 AM ******/
CREATE NONCLUSTERED INDEX [HAVE_FK] ON [dbo].[CHAPTER]
(
	[OUTLINEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [HAVE_FK2]    Script Date: 12/29/2022 9:41:28 AM ******/
CREATE NONCLUSTERED INDEX [HAVE_FK2] ON [dbo].[CHAPTER]
(
	[STORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [MAKE_FK]    Script Date: 12/29/2022 9:41:28 AM ******/
CREATE NONCLUSTERED INDEX [MAKE_FK] ON [dbo].[COMMENT]
(
	[EDITORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ON_FK]    Script Date: 12/29/2022 9:41:28 AM ******/
CREATE NONCLUSTERED INDEX [ON_FK] ON [dbo].[COMMENT]
(
	[CHAPTERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [APPROVE_DECLINE_FK]    Script Date: 12/29/2022 9:41:28 AM ******/
CREATE NONCLUSTERED INDEX [APPROVE_DECLINE_FK] ON [dbo].[DRAFT]
(
	[EDITORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [INCLUDE_FK]    Script Date: 12/29/2022 9:41:28 AM ******/
CREATE NONCLUSTERED INDEX [INCLUDE_FK] ON [dbo].[DRAFT]
(
	[STORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [WRITE_FK]    Script Date: 12/29/2022 9:41:28 AM ******/
CREATE NONCLUSTERED INDEX [WRITE_FK] ON [dbo].[DRAFT]
(
	[AUTHORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [MANAGE_FK]    Script Date: 12/29/2022 9:41:28 AM ******/
CREATE NONCLUSTERED INDEX [MANAGE_FK] ON [dbo].[EDITOR]
(
	[ADMINID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ADD_UPDATE_FK]    Script Date: 12/29/2022 9:41:28 AM ******/
CREATE NONCLUSTERED INDEX [ADD_UPDATE_FK] ON [dbo].[OUTLINE]
(
	[AUTHORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [APPROVE_DECLINE_FK]    Script Date: 12/29/2022 9:41:28 AM ******/
CREATE NONCLUSTERED INDEX [APPROVE_DECLINE_FK] ON [dbo].[OUTLINE]
(
	[EDITORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CONSIST_FK]    Script Date: 12/29/2022 9:41:28 AM ******/
CREATE NONCLUSTERED INDEX [CONSIST_FK] ON [dbo].[OUTLINE]
(
	[STORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [APPROVE_DECLINE_FK]    Script Date: 12/29/2022 9:41:28 AM ******/
CREATE NONCLUSTERED INDEX [APPROVE_DECLINE_FK] ON [dbo].[STORY]
(
	[EDITORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CONSIST_FK]    Script Date: 12/29/2022 9:41:28 AM ******/
CREATE NONCLUSTERED INDEX [CONSIST_FK] ON [dbo].[STORY]
(
	[STORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [INCLUDE_FK]    Script Date: 12/29/2022 9:41:28 AM ******/
CREATE NONCLUSTERED INDEX [INCLUDE_FK] ON [dbo].[STORY]
(
	[STORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [OWN_FK]    Script Date: 12/29/2022 9:41:28 AM ******/
CREATE NONCLUSTERED INDEX [OWN_FK] ON [dbo].[STORY]
(
	[AUTHORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AUTHOR]  WITH CHECK ADD  CONSTRAINT [FK_AUTHOR_MANAGE_ADMIN] FOREIGN KEY([ADMINID])
REFERENCES [dbo].[ADMIN] ([ADMINID])
GO
ALTER TABLE [dbo].[AUTHOR] CHECK CONSTRAINT [FK_AUTHOR_MANAGE_ADMIN]
GO
ALTER TABLE [dbo].[AUTHOR]  WITH CHECK ADD  CONSTRAINT [FK_AUTHOR_SUPERVISE_EDITOR] FOREIGN KEY([EDITORID])
REFERENCES [dbo].[EDITOR] ([EDITORID])
GO
ALTER TABLE [dbo].[AUTHOR] CHECK CONSTRAINT [FK_AUTHOR_SUPERVISE_EDITOR]
GO
ALTER TABLE [dbo].[CHAPTER]  WITH CHECK ADD  CONSTRAINT [FK_CHAPTER_ADD_UPDAT_AUTHOR] FOREIGN KEY([AUTHORID])
REFERENCES [dbo].[AUTHOR] ([AUTHORID])
GO
ALTER TABLE [dbo].[CHAPTER] CHECK CONSTRAINT [FK_CHAPTER_ADD_UPDAT_AUTHOR]
GO
ALTER TABLE [dbo].[CHAPTER]  WITH CHECK ADD  CONSTRAINT [FK_CHAPTER_APPROVE_D_EDITOR] FOREIGN KEY([EDITORID])
REFERENCES [dbo].[EDITOR] ([EDITORID])
GO
ALTER TABLE [dbo].[CHAPTER] CHECK CONSTRAINT [FK_CHAPTER_APPROVE_D_EDITOR]
GO
ALTER TABLE [dbo].[CHAPTER]  WITH CHECK ADD  CONSTRAINT [FK_CHAPTER_HAVE_OUTLINE] FOREIGN KEY([OUTLINEID])
REFERENCES [dbo].[OUTLINE] ([OUTLINEID])
GO
ALTER TABLE [dbo].[CHAPTER] CHECK CONSTRAINT [FK_CHAPTER_HAVE_OUTLINE]
GO
ALTER TABLE [dbo].[CHAPTER]  WITH CHECK ADD  CONSTRAINT [FK_CHAPTER_HAVE_STORY] FOREIGN KEY([STORYID])
REFERENCES [dbo].[STORY] ([STORYID])
GO
ALTER TABLE [dbo].[CHAPTER] CHECK CONSTRAINT [FK_CHAPTER_HAVE_STORY]
GO
ALTER TABLE [dbo].[COMMENT]  WITH CHECK ADD  CONSTRAINT [FK_COMMENT_MAKE_EDITOR] FOREIGN KEY([EDITORID])
REFERENCES [dbo].[EDITOR] ([EDITORID])
GO
ALTER TABLE [dbo].[COMMENT] CHECK CONSTRAINT [FK_COMMENT_MAKE_EDITOR]
GO
ALTER TABLE [dbo].[COMMENT]  WITH CHECK ADD  CONSTRAINT [FK_COMMENT_ON_CHAPTER] FOREIGN KEY([CHAPTERID])
REFERENCES [dbo].[CHAPTER] ([CHAPTERID])
GO
ALTER TABLE [dbo].[COMMENT] CHECK CONSTRAINT [FK_COMMENT_ON_CHAPTER]
GO
ALTER TABLE [dbo].[DRAFT]  WITH CHECK ADD  CONSTRAINT [FK_DRAFT_APPROVE_D_EDITOR] FOREIGN KEY([EDITORID])
REFERENCES [dbo].[EDITOR] ([EDITORID])
GO
ALTER TABLE [dbo].[DRAFT] CHECK CONSTRAINT [FK_DRAFT_APPROVE_D_EDITOR]
GO
ALTER TABLE [dbo].[DRAFT]  WITH CHECK ADD  CONSTRAINT [FK_DRAFT_INCLUDE_STORY] FOREIGN KEY([STORYID])
REFERENCES [dbo].[STORY] ([STORYID])
GO
ALTER TABLE [dbo].[DRAFT] CHECK CONSTRAINT [FK_DRAFT_INCLUDE_STORY]
GO
ALTER TABLE [dbo].[DRAFT]  WITH CHECK ADD  CONSTRAINT [FK_DRAFT_WRITE_AUTHOR] FOREIGN KEY([AUTHORID])
REFERENCES [dbo].[AUTHOR] ([AUTHORID])
GO
ALTER TABLE [dbo].[DRAFT] CHECK CONSTRAINT [FK_DRAFT_WRITE_AUTHOR]
GO
ALTER TABLE [dbo].[EDITOR]  WITH CHECK ADD  CONSTRAINT [FK_EDITOR_MANAGE_ADMIN] FOREIGN KEY([ADMINID])
REFERENCES [dbo].[ADMIN] ([ADMINID])
GO
ALTER TABLE [dbo].[EDITOR] CHECK CONSTRAINT [FK_EDITOR_MANAGE_ADMIN]
GO
ALTER TABLE [dbo].[OUTLINE]  WITH CHECK ADD  CONSTRAINT [FK_OUTLINE_ADD_UPDAT_AUTHOR] FOREIGN KEY([AUTHORID])
REFERENCES [dbo].[AUTHOR] ([AUTHORID])
GO
ALTER TABLE [dbo].[OUTLINE] CHECK CONSTRAINT [FK_OUTLINE_ADD_UPDAT_AUTHOR]
GO
ALTER TABLE [dbo].[OUTLINE]  WITH CHECK ADD  CONSTRAINT [FK_OUTLINE_APPROVE_D_EDITOR] FOREIGN KEY([EDITORID])
REFERENCES [dbo].[EDITOR] ([EDITORID])
GO
ALTER TABLE [dbo].[OUTLINE] CHECK CONSTRAINT [FK_OUTLINE_APPROVE_D_EDITOR]
GO
ALTER TABLE [dbo].[OUTLINE]  WITH CHECK ADD  CONSTRAINT [FK_OUTLINE_CONSIST_STORY] FOREIGN KEY([STORYID])
REFERENCES [dbo].[STORY] ([STORYID])
GO
ALTER TABLE [dbo].[OUTLINE] CHECK CONSTRAINT [FK_OUTLINE_CONSIST_STORY]
GO
ALTER TABLE [dbo].[STORY]  WITH CHECK ADD  CONSTRAINT [FK_STORY_APPROVE_D_EDITOR] FOREIGN KEY([EDITORID])
REFERENCES [dbo].[EDITOR] ([EDITORID])
GO
ALTER TABLE [dbo].[STORY] CHECK CONSTRAINT [FK_STORY_APPROVE_D_EDITOR]
GO
ALTER TABLE [dbo].[STORY]  WITH CHECK ADD  CONSTRAINT [FK_STORY_OWN_AUTHOR] FOREIGN KEY([AUTHORID])
REFERENCES [dbo].[AUTHOR] ([AUTHORID])
GO
ALTER TABLE [dbo].[STORY] CHECK CONSTRAINT [FK_STORY_OWN_AUTHOR]
GO
ALTER TABLE [dbo].[CHAPTER]  WITH CHECK ADD  CONSTRAINT [CHECK_ChapterUNPAIR] CHECK  (([GIA]>=[UNPAIR]))
GO
ALTER TABLE [dbo].[CHAPTER] CHECK CONSTRAINT [CHECK_ChapterUNPAIR]
GO
ALTER TABLE [dbo].[DRAFT]  WITH CHECK ADD  CONSTRAINT [CHECK_UNPAIR] CHECK  (([GIA]>=[UNPAIR]))
GO
ALTER TABLE [dbo].[DRAFT] CHECK CONSTRAINT [CHECK_UNPAIR]
GO
ALTER TABLE [dbo].[OUTLINE]  WITH CHECK ADD  CONSTRAINT [CHECK_OUTLINEUNPAIR] CHECK  (([GIA]>=[UNPAIR]))
GO
ALTER TABLE [dbo].[OUTLINE] CHECK CONSTRAINT [CHECK_OUTLINEUNPAIR]
GO
/****** Object:  StoredProcedure [dbo].[calEarn]    Script Date: 12/29/2022 9:41:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE 
proc [dbo].[calEarn]
	@authorid char(10)
as
begin
	declare @earn float = 0
	select @earn = @earn + sum(GIA)  from CHAPTER where AUTHORID = @authorid
	select @earn = @earn + sum(GIA)  from DRAFT where AUTHORID = @authorid
	select @earn = @earn + sum(GIA)  from OUTLINE where AUTHORID = @authorid
	select @earn EARN
end
GO
/****** Object:  StoredProcedure [dbo].[calReceive]    Script Date: 12/29/2022 9:41:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE 
proc [dbo].[calReceive]
	@authorid char(10)
as
begin
	declare @receive float = 0
	select @receive = @receive + sum(GIA - UNPAIR)  from CHAPTER where AUTHORID = @authorid
	select @receive = @receive + sum(GIA - UNPAIR)  from DRAFT where AUTHORID = @authorid
	select @receive = @receive + sum(GIA - UNPAIR)  from OUTLINE where AUTHORID = @authorid
	select @receive RECEIVE
end
GO
/****** Object:  StoredProcedure [dbo].[countChapter]    Script Date: 12/29/2022 9:41:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create 
--alter 
proc [dbo].[countChapter]
	@authorid char(10)
as
begin
	select COUNT(CHAPTERID) NUM from CHAPTER where AUTHORID = @authorid	
end
GO
/****** Object:  StoredProcedure [dbo].[countStory]    Script Date: 12/29/2022 9:41:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE 
proc [dbo].[countStory]
	@authorid char(10)
as
begin
	select COUNT(STORYID) NUM from STORY where AUTHORID = @authorid	
end
GO
/****** Object:  StoredProcedure [dbo].[createAuthor]    Script Date: 12/29/2022 9:41:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE
PROC [dbo].[createAuthor]
	@authorid char(10),
	@adminid char(10),
	@editorid char(10),
	@password char(15),
	@authorname char(20),
	@email char(30),
	@address char(30),
	@phonenumber char(15),
	@accountnumber char(15),
	@salary int
AS
BEGIN TRAN
	IF EXISTS(SELECT AUTHORID FROM AUTHOR WITH(XLOCK) WHERE AUTHORID = @authorid)
	BEGIN
		SELECT 'Author Already Exists' AS 'ERROR'
		ROLLBACK TRAN
		RETURN 0
	END
	IF(@adminid IS NULL OR @editorid IS NULL OR @password IS NULL
	OR @authorname IS NULL OR @email IS NULL OR @address IS NULL 
	OR @phonenumber IS NULL OR @accountnumber IS NULL OR @salary IS NULL)
	BEGIN
		SELECT 'INFORMATION OF AUTHOR IS NOT NULL' AS 'ERROR'
		ROLLBACK TRAN
		RETURN 0
	END
	INSERT AUTHOR VALUES(@authorid, @adminid, @editorid, @password, @authorname, @email, @address, @phonenumber, @accountnumber, @salary,null)
	-- RETURN AUTHOR IF INSERT SCCESSFULLY
	SELECT * FROM AUTHOR WHERE AUTHORID = @authorid
COMMIT TRAN
RETURN 1
GO
/****** Object:  StoredProcedure [dbo].[deleteAuthor]    Script Date: 12/29/2022 9:41:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE
PROC [dbo].[deleteAuthor]
	@authorid char(10)
AS
BEGIN TRAN
	IF NOT EXISTS(SELECT AUTHORID FROM AUTHOR WHERE AUTHORID = @authorid)
	BEGIN
		SELECT 'AUTHOR ID IS NOT FOUND' AS 'ERROR'
		ROLLBACK TRAN
		RETURN 0
	END
	IF EXISTS (SELECT AUTHORID FROM CHAPTER WHERE AUTHORID = @authorid)
	OR EXISTS (SELECT AUTHORID FROM SALARYSTATUS WHERE AUTHORID = @authorid)
	OR EXISTS (SELECT AUTHORID FROM STORY WHERE AUTHORID = @authorid)
	OR EXISTS (SELECT AUTHORID FROM OUTLINE WHERE AUTHORID = @authorid)
	BEGIN
		SELECT 'CAN NOT DELETE AUTHOR HAD COMPOSITIONS' AS 'ERROR'
		ROLLBACK TRAN
		RETURN 0
	END

	DELETE AUTHOR
	WHERE AUTHORID = @authorid
	SELECT 'DELETE AUTHORID: ' + CAST(@authorid AS VARCHAR) +  ' SUCCESSFULLY' AS '1'
COMMIT TRAN
RETURN 1
GO
/****** Object:  StoredProcedure [dbo].[getAuthors]    Script Date: 12/29/2022 9:41:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--AUTHOR
CREATE
--ALTER
PROC [dbo].[getAuthors]
AS
BEGIN
	SELECT * FROM AUTHOR
END
GO
/****** Object:  StoredProcedure [dbo].[getAuthorsByID]    Script Date: 12/29/2022 9:41:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE
--ALTER
PROC [dbo].[getAuthorsByID]
	@authorid char(10)
AS
BEGIN
	SELECT *FROM AUTHOR WHERE AUTHORID = @authorid
END
GO
/****** Object:  StoredProcedure [dbo].[getAuthorsByLikeName]    Script Date: 12/29/2022 9:41:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE
--ALTER
PROC [dbo].[getAuthorsByLikeName]
	@condiction varchar(30)
AS
BEGIN
	declare @vcondiction varchar(35)
	set @vcondiction = '%' + @condiction + '%'
	SELECT *FROM AUTHOR WHERE AUTHORNAME LIKE @vcondiction;
END
GO
/****** Object:  StoredProcedure [dbo].[updateAuthor]    Script Date: 12/29/2022 9:41:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE
PROC [dbo].[updateAuthor]
	@authorid char(10),
	@adminid char(10),
	@editorid char(10),
	@password char(15),
	@authorname char(20),
	@email char(30),
	@address char(30),
	@phonenumber char(15),
	@accountnumber char(15),
	@salary int, 
	@unpair int

AS
BEGIN TRAN
	IF(@authorid IS NULL)
	BEGIN
		SELECT 'AUTHOR ID IS UNKNOWN' AS 'ERROR'
		ROLLBACK TRAN
		RETURN 0
	END

	IF NOT EXISTS( SELECT AUTHORID FROM AUTHOR WITH(XLOCK) WHERE AUTHORID = @authorid)
	BEGIN
		SELECT 'AUTHOR ID IS NOT FOUND' AS 'ERROR'
		ROLLBACK
		RETURN 0
	END
	
	-- update--
	IF(@adminid IS NOT NULL) --ADMINID
		BEGIN
			IF EXISTS(SELECT ADMINID FROM ADMIN WITH(XLOCK) WHERE ADMINID = @adminid)
			BEGIN	
				UPDATE AUTHOR
				SET ADMINID = @adminid
				WHERE AUTHORID = @authorid
			END
			ELSE
			BEGIN
				SELECT 'ADMIN ID IS NOT FOUND' AS 'ERROR'
				ROLLBACK TRAN
				RETURN 0
			END
		END

	IF(@editorid IS NOT NULL) --EDITORID
		BEGIN
			IF EXISTS(SELECT EDITORID FROM EDITOR WITH(XLOCK) WHERE EDITORID = @editorid)
			BEGIN	
				UPDATE AUTHOR
				SET EDITORID = @editorid
				WHERE AUTHORID = @authorid
			END
			ELSE
			BEGIN
				SELECT 'EDITOR ID IS NOT FOUND' AS 'ERROR'
				ROLLBACK TRAN
				RETURN 0
			END
		END

	IF(@password IS NOT NULL) --PASSWORD
		BEGIN
			UPDATE AUTHOR
			SET PASSWORD = @password
			WHERE AUTHORID = @authorid
		END

	IF(@authorname IS NOT NULL) --AUTHORNAME
		BEGIN
			UPDATE AUTHOR
			SET AUTHORNAME = @authorname
			WHERE AUTHORID = @authorid
		END
	
	IF(@email IS NOT NULL) --EMAIL
		BEGIN
			UPDATE AUTHOR
			SET EMAIL = @email
			WHERE AUTHORID = @authorid
		END

	IF(@address IS NOT NULL) --ADDRESS
		BEGIN
			UPDATE AUTHOR
			SET ADDRESS = @address
			WHERE AUTHORID = @authorid
		END

	IF(@phonenumber IS NOT NULL) --PHONENUMBER
		BEGIN
			UPDATE AUTHOR
			SET PHONENUMBER = @phonenumber
			WHERE AUTHORID = @authorid
		END
	
	IF(@accountnumber IS NOT NULL) --ACCOUNTNUMBER
		BEGIN
			IF NOT EXISTS(SELECT ACCOUNTNUMBER FROM AUTHOR WHERE ACCOUNTNUMBER = @accountnumber)
			BEGIN
				UPDATE AUTHOR
				SET ACCOUNTNUMBER = @accountnumber
				WHERE AUTHORID = @authorid
			END
			ELSE
			BEGIN
				SELECT 'ACCOUNT NUMBER Already Exists' AS 'ERROR'
				ROLLBACK TRAN
				RETURN 0
			END
		END

	IF(@salary IS NOT NULL) --SALARY
		BEGIN
			UPDATE AUTHOR
			SET SALARY = @salary
			WHERE AUTHORID = @authorid
		END
		
	IF(@unpair IS NOT NULL) --UNPAIR
		BEGIN
			UPDATE AUTHOR
			SET UNPAID_ = @unpair
			WHERE AUTHORID = @authorid
		END

	SELECT *FROM AUTHOR WITH(XLOCK) WHERE AUTHORID = @authorid

COMMIT TRAN
RETURN 1
GO
USE [master]
GO
